.admin-interface #header {
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1024px) {
    .admin-interface #header {
        align-items: start;
    }
}

.admin-interface #branding h1 img.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    display: inline-block !important; /* override inline display:none; */
}

.admin-interface #branding h1 span {
    display: inline-block;
}

.admin-interface #branding h1 img.logo+span {
    white-space: nowrap;
}

.admin-interface #user-tools {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    align-self: flex-start;
}

.admin-interface #user-tools br {
    display: none;
}

@media (max-width: 768px) {
    .admin-interface #user-tools br {
        display: block;
    }
}

/* hide theme toggle button until dark theme will be supported */
/*
.admin-interface #user-tools button.theme-toggle {
    display: none;
}
*/
