/*
list-filter-dropdown
*/

.admin-interface .list-filter-dropdown {
    margin-top:10px;
    margin-bottom:20px;
}

.admin-interface .list-filter-dropdown select {
    background-color: #FFFFFF;
    width: calc(100% - 30px);
    margin-right: 15px;
}