/*
list-filter-dropdown
*/

.admin-interface .list-filter-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin-interface .list-filter-dropdown h3 {
    margin-top: 0;
}

.admin-interface .list-filter-dropdown select {
    background-color: #FFFFFF;
    width: calc(100% - 30px);
    margin-right: 15px;
}

.admin-interface.list-filter-highlight .list-filter-dropdown h3.active + div select {
    font-weight: bold;
}
