/*
list-filter-dropdown
*/

.admin-interface #changelist-filter .list-filter-dropdown {
    margin-top: 15px;
    margin-bottom: 15px;
}

.admin-interface #changelist-filter h2 + .list-filter-dropdown,
.admin-interface #changelist-filter #changelist-filter-extra-actions + .list-filter-dropdown,
.admin-interface #changelist-filter .list-filter-dropdown + .list-filter-dropdown {
    margin-top: 5px;
}

.admin-interface #changelist-filter .list-filter-dropdown h3 {
    margin-top: 0 !important;
}

.admin-interface #changelist-filter .list-filter-dropdown select {
    background-color: #FFFFFF;
    width: calc(100% - 30px);
    margin-right: 15px;
}

.admin-interface.list-filter-highlight #changelist-filter .list-filter-dropdown h3.active + div select {
    font-weight: bold;
}
