.admin-interface #changelist-filter .admindatefilter {
    border-bottom: 1px solid var(--hairline-color);
}

.admin-interface #changelist-filter .admindatefilter .button,
.admin-interface #changelist-filter .admindatefilter .submit-row input,
.admin-interface #changelist-filter .admindatefilter a.button,
.admin-interface #changelist-filter .admindatefilter input[type="submit"],
.admin-interface #changelist-filter .admindatefilter input[type="button"],
.admin-interface #changelist-filter .admindatefilter input[type="reset"] {
    background: var(--admin-interface-module-background-color);
    color: var(--admin-interface-module-link-color);
    padding: 6px 10px;
    font-size: 12px;
    margin-right: 4px;
}

.admin-interface #changelist-filter .admindatefilter .button:hover,
.admin-interface #changelist-filter .admindatefilter .submit-row input:hover,
.admin-interface #changelist-filter .admindatefilter a.button:hover,
.admin-interface #changelist-filter .admindatefilter input[type="submit"]:hover,
.admin-interface #changelist-filter .admindatefilter input[type="button"]:hover,
.admin-interface #changelist-filter .admindatefilter input[type="reset"]:hover {
    color: var(--admin-interface-module-link-hover-color);
}