.admin-interface .tabbed-changeform-tab {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    flex-wrap: wrap;
}

.admin-interface .tabbed-changeform-tab button {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;
    border-radius: var(--admin-interface-module-border-radius);
}

.admin-interface .tabbed-changeform-tab button.active {
    background-color: var(--admin-interface-module-background-color);
    color: var(--admin-interface-module-text-color);
}

.admin-interface .tabbed-changeform-tabcontent {
    display: none;
    padding: 1em 0;
}

.admin-interface .tabbed-changeform-tabcontent.active {
    display: block;
}
