.admin-interface .tabbed-changeform-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 8px;
    scrollbar-width: 4px;
}

.admin-interface .tabbed-changeform-tab::-webkit-scrollbar {
    height: 4px;
    background-color: var(--border-color);
}
.admin-interface .tabbed-changeform-tab::-webkit-scrollbar-thumb {
    background:  #aaa;
  }


.admin-interface .tabbed-changeform-tab button {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
    padding: 8px 12px;
    margin: 0;
    background-color: var(--admin-interface-module-header-text-color);
    color: var(--admin-interface-module-background-color);
}

.admin-interface .tabbed-changeform-tab button.active {
    outline: none;
    font-weight: bold;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: var(--admin-interface-module-border-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.admin-interface .tabbed-changeform-tabcontent {
    display: none;
    padding: 1em 0;
}

.admin-interface .tabbed-changeform-tabcontent.active {
    display: block;
}

.admin-interface .tabbed-changeform-tabs-remaining-space {
    flex: 1;
    border-bottom: 1px solid var(--border-color);
}
