{% load i18n admin_interface_tags %}

{% get_admin_interface_theme as theme %}

{% if theme.list_filter_dropdown %}

    {% include "admin_interface/dropdown_filter.html" %}

{% else %}

    {# Use a changed default list filter template -> https://github.com/django/django/blob/master/django/contrib/admin/templates/admin/filter.html #}

    <h3 {% if spec.lookup_val or spec.value %}class="active"{% endif %}>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
    <ul {% if spec.lookup_val or spec.value %}class="active"{% endif %}>
    {% for choice in choices %}
        <li{% if choice.selected %} class="selected"{% endif %}>
        <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}
    </ul>

{% endif %}
