{% load admin_interface_tags static %}

{% if theme.related_modal_active %}
<link rel="stylesheet" href="{% get_admin_interface_static 'admin_interface/magnific-popup/magnific-popup.css' %}">
<link rel="stylesheet" href="{% get_admin_interface_static 'admin_interface/related-modal/related-modal.css' %}">
<script src="{% get_admin_interface_static 'admin_interface/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% get_admin_interface_static 'admin_interface/related-modal/related-modal.js' %}"></script>
{% endif %}
